.itemBlock{
  background: #F8F8F8;
border-radius: 20px;
padding: 40px;
max-width: 680px;
margin-bottom: 20px;
transform: all 0.3s ease-in-out;

}
@media(max-width:590px){
  .itemBlock{
    padding: 20px; 
  }

}
.itemContainer{
  display: flex;
}
.itemLike{
  text-align: right; 
  color:#333333;
  cursor: pointer;
}
.itemLike>img:hover{
transform:scale(1.2)
}
.itemMessage{
  border-radius:50%;
  margin-right: 20px;
}
.itemMessage>img{
  border-radius:50%;

}
.itemId{
  font-weight: 500;
font-size: 10px;
color: #ABABAB;
text-align: left;
margin: 5px 0;
}
.itemId>a{
  color: #7291FF;
  cursor: pointer;
  position: relative;
  margin-left: 5px;
}
.itemLink{
  margin-left: 5px;
}

.itemText{
  font-size: 18px;
line-height: 26px;
color: #333333;
margin: 0;
margin-bottom: 28px;
text-align:left;
}

.itemInfo{
  display: flex;
  justify-content: space-between;
}
.itemData{
  font-size: 10px;
line-height: 14px;
color: #ABABAB;

}
.itemCategories{
  font-weight: 500;
font-size: 10px;
line-height: 14px;
letter-spacing: 2px;
  text-transform: uppercase;
  background: #FFFFFF;
border-radius: 6px;
padding: 6px 20px;
}
.itemContent{
  width: 100%;
}