.button{
  border-radius: 10px;
  background: linear-gradient(90.55deg, #8EA7FF 0%, #7291FF 100%);
  border: none;
  max-width: 152px;
  height: 42px;
  color: #fff;
  font-weight: bold;
  margin-top: 15px;
}
.searchForm{
  text-align: left;
  display: flex; 
  flex-direction: column;
  margin-bottom: 50px;
  max-width: 680px;
}
.categories{
  display:flex;
  align-items:center;
  width: fit-content;
  border: 2px solid #F8F8F8;
  padding: 6px 15px;
  border-radius: 6px;
  position: relative;
  margin: 0;
}
.categories>input{
  position: absolute;
opacity: 0;
}


.h2{
  text-align: left;
}
.h3{
  text-align: left;
}