.App {
  text-align: center;
}

*{
  box-sizing: border-box;
}


.categoriesList{
  display:flex;
  flex-wrap: wrap;
  align-items:center;
margin: 20px;
gap: 10px;
font-size: 12px;
letter-spacing: 2px;
text-transform: uppercase;

color: #ABABAB;
}
.categoriesList>label{
  font-size: 12px;
}
.categoriesList>label.active{
  background: #F8F8F8;
  color: #333333;
  font-weight: 500;
}
label{
  margin-bottom: 10px;
  font-size: 18px;

}
input{
  margin: 0;
  margin-right: 5px;
}

input[type="radio"]{
  background-color:#333333;
}

.App-link {
  color: #61dafb;
}

body{
  padding: 40px 40px 0 140px;
  color: #333333;
  font-family: 'Roboto', sans-serif;
  position: relative;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
body.overflow{
  overflow: hidden;
  margin: 0;
}
body.overflow:before {
  content: '';
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}


header{
  display: flex;
  justify-content: space-between;
}
.favourite{
  position: fixed;
  top: 0;
  right: 0;
  padding: 40px;
  background-color: #F8F8F8;
  height: 100%;
  max-width:480px;
  width: 100%;
  overflow-y: scroll;
  transition: all 0.5s ease-in-out;
  opacity: 1;
  
}


.favourite>div{
  padding: 20px;
  background-color:#fff;
  border: 1px solid #F8F8F8;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
border-radius: 10px;
transform: all 0.3s ease-in-out;

}
@media(max-width:1300px){
  .favourite{
    transform: translate(100%);
opacity: 0;
  }
  #burger.active{
    transform: translate(0);
    opacity: 1;
  
  }

}
@media(max-width:1300px){
body{
  padding: 40px;
}

}
